<h5>User info</h5>
<%= image_tag profile_image.get_image %>
<table>
  <tr>
    <th>name</th>
    <th><%= @user.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= @user.introduction %></th>
  </tr>
</table>
<p><%= link_to "user profile edit", edit_user_path(user.id) %></p>