<h3>Book detail</h3>
<table>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Opinion</th>
  </tr>
  <tr>
    <td><%= image_tag @profile_image.get_image %></td>
    <td><%= @book.title %></td>
    <td><%= @book.body %></td>
  </tr>
</table>